@{
    Layout = null;
}

@using Microsoft.AspNetCore.Antiforgery
@inject IAntiforgery Antiforgery
@model TSmartClinic.Presentation.Models.AccountViewModel

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, DNTCaptcha.Core

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>TSmartClinic - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/main.css" rel="stylesheet">
    <link href="~/home.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@600;700&display=swap" rel="stylesheet">

    <style>
        body {
            margin: 0;
            font-family: 'Segoe UI', sans-serif;
            background: linear-gradient( rgba(123,104,238,0.35), rgba(186,85,211,0.35) ), url('/images/bglogin.jpg') no-repeat center center;
            background-size: cover;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

            body::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.2); /* camada branca translúcida */
                z-index: -1;
            }


        .login-container {
            width: 900px;
            height: 400px;
            display: flex;
            border-radius: 20px;
            overflow: hidden;
            box-shadow: 0 0 30px rgba(0,0,0,0.2);
            background-color: white;
        }

        .login-left {
            position: relative;
            background: rgba(255,255,255,0.8);
            color: #333;
            padding: 30px 30px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

            /* divisor ajustado */
            .login-left::after {
                content: "";
                position: absolute;
                right: -1px; /* cola na borda direita */
                top: 40px; /* distância do topo → ajuste aqui */
                bottom: 0px; /* distância do rodapé → ajuste aqui */
                width: 1px;
                background: rgba(123,104,238,0.3);
            }


            .login-left h2 {
                font-size: 32px;
                font-weight: bold;
            }

            .login-left p {
                font-size: 16px;
                margin-top: 10px;
            }

        .login-right {
            flex: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .login-right h5 {
                text-align: center;
                margin-bottom: 20px;
                color: #6a0dad;
            }

        .form-label-group {
            position: relative;
            margin-bottom: 20px;
        }

            .form-label-group i {
                position: absolute;
                top: 12px;
                left: 15px;
                color: #aaa;
            }

            .form-label-group input {
                padding-left: 40px;
                border-radius: 30px;
                height: 45px;
                border: 1px solid #ccc;
            }

        .btn-primary {
            background: linear-gradient(to right, #6a0dad, #9b30ff);
            border: none;
            border-radius: 30px;
            padding: 12px;
            color: #fff;
            font-weight: bold;
            width: 100%;
            cursor: pointer;
        }

            .btn-primary:hover {
                background: #5b0ca8;
            }

        .text-danger {
            font-size: 0.875rem;
        }

        a {
            color: #6a0dad;
            text-decoration: none;
            font-size: 0.9rem;
        }

        .alert {
            margin-top: 15px;
        }

        #loading {
            position: fixed;
            z-index: 999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.6);
            display: none;
            align-items: center;
            justify-content: center;
        }

            #loading img {
                width: 70px;
                height: 70px;
            }

        .logo-tsmart {
            width: 80%;
            max-width: 250px;
            height: auto;
            display: block;
            margin: 0 auto 20px auto;
        }

        .card-title {
            font-size: 20px; /* aumenta o tamanho */
            font-weight: bold; /* deixa mais destacado */
            color: #6a0dad; /* opcional: reforça o roxo da identidade */
        }



    </style>
</head>


<body>
    @Html.AntiForgeryToken()

    <div id="loading">
        <img id="loading-image" src="~/images/loading.TSmartClinic.gif" alt="Loading..." width="70" height="70" />
    </div>

    <div class="login-container">
        <div class="auth-card">
            <!-- Painel Esquerdo -->
            <div class="login-left">
                <div class="text-center mb-3">
                    <img src="~/images/Logo_Smart.png" class="img-fluid logo-tsmart" />
                </div>
                <h2>Bem Vindo!</h2>
                <p>“Comece agora a transformar suas ideias em <br /> resultados reais.”</p>
            </div>
        </div>


        <!-- Painel Direito com o formulário -->
        <div class="login-right">


            <h3 class="card-title text-center">
                <i class="fas fa-sign-in-alt"></i>&nbsp;Acesso ao Sistema
            </h3>

            @using (Html.BeginForm("Login", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                <div class="form-label-group mt-5">
                    <i class="fa fa-envelope"></i>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", autocomplete = "off" })
                    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
                </div>

                <div class="mb-1">
                    <div class="form-label-group position-relative">
                        <i class="fa fa-key"></i>
                        @Html.PasswordFor(m => m.Senha, new { @class = "form-control", placeholder = "Senha", autocomplete = "off" })
                        <span class="text-danger">@Html.ValidationMessageFor(m => m.Senha)</span>

                        <!-- Link colado e alinhado à direita -->
                        <div style="width: 100%; text-align: right; margin-top: 0px;">
                            <a href="~/account/esqueci-senha" onclick="loading()">Esqueci minha Senha</a>
                        </div>
                    </div>
                </div>

                @if (ViewBag.OpcaoPrimeiroAcesso == 1)
                {
                    <div class="w-100 text-end mb-3">
                        <a href="~/account/primeiroacesso" onclick="loading()">Primeiro Acesso</a>
                    </div>
                }

                <button type="submit" class="btn btn-primary" onclick="loading()">
                    <i class="fa fa-sign-in-alt"></i> Entrar
                </button>

                @if (TempData["MensagemSucesso"] != null)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        @Html.Raw(TempData["MensagemSucesso"])
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                else if (TempData["MensagemErro"] != null)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        @Html.Raw(TempData["MensagemErro"])
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
            }

            <div class="row">
                <div class="col-md-12 text-center">
                    <div style="color: #fff;">Copyright © 2025 | Versão 1.0.0</div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="~/scripts/main.js"></script>

    <script>
        function loading() {
            $('#loading').show();
        }

        $(document).on('keydown', '#inputEmail', function (e) {
            if (e.keyCode == 32) return false;
        });

        document.addEventListener('DOMContentLoaded', function () {
            var allInputs = document.querySelectorAll('input[type="text"], input[type="password"], textarea');
            allInputs.forEach(function (input) {
                input.addEventListener('input', function () {
                    this.value = this.value.replace(/</g, '').replace(/>/g, '');
                });
            });
        });

        console.log("⚠️ ATENÇÃO: Código destinado apenas a desenvolvedores autorizados.");
    </script>
</body>
</html>
