@using Microsoft.AspNetCore.Http
@using TSmartClinic.Presentation.Services.Interfaces
@inject IUsuarioLogadoService UsuarioLogado
@model TSmartClinic.Presentation.Models.PerfilViewModel
@inject IHttpContextAccessor HttpContextAccessor

@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Titulo = "Cadastro de Perfis";
}

@{
    var user = HttpContextAccessor.HttpContext?.User;
}
<p>Usuário Master? @UsuarioLogado.UsuarioMaster</p>
<p>Id do Usuário: @UsuarioLogado.UsuarioLogadoId</p>
<p>Tipo Usuário: @UsuarioLogado.TipoUsuario</p>
<p>Tipo Usuário: @UsuarioLogado.NomeCliente</p>

@using (Html.BeginForm())
{
    @if (Model != null && Model.Id.HasValue)
    {
        <input asp-for="Id" type="hidden" />
    }
   
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs" role="tablist" id="tabBusca">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#dados_gerais" role="tab">
                        <span class="d-block d-sm-none"><i class="fas fa-info-circle"></i></span>
                        <span class="d-none d-sm-block">Dados Gerais</span>
                    </a>
                </li>
            </ul>

            <div class="tab-content">
                <div class="tab-pane active" id="dados_gerais" role="tabpanel">
                    <!-- Conteúdo da aba Dados Gerais -->

                    <div class="row mt-3">
                        <div class="col-md-4">
                            <label for="Nome">Nome</label>
                            @Html.TextBoxFor(model => model.NomePerfil, new { @class = "form-control", @autocomplete = "off", @placeholder = "Digite o nome do Usuario" })
                            <span class="text-danger">
                                @Html.ValidationMessageFor(model => model.NomePerfil)
                            </span>
                        </div>

                        <div class="col-md-2">
                            <label>Validade</label><br />
                            @Html.TextBoxFor(model => model.ValidadeDias, new { @class = "form-control", @autocomplete = "off" })
                            <span class="text-danger">
                                @*     @Html.ValidationMessageFor(model => model.Fabricante) *@
                            </span>
                        </div>

                        <div class="col-md-2">
                            <label>Erros de senha</label><br />
                            @Html.TextBoxFor(model => model.ErrosSenha, new { @class = "form-control", @autocomplete = "off" })
                            <span class="text-danger">
                                @*     @Html.ValidationMessageFor(model => model.Fabricante) *@
                            </span>
                        </div>

                        @if ((bool)ViewBag.UsuarioMaster)
                        {
                            <div class="col-lg-3">
                                <label for="NichoId">Nicho</label>
                                <i class="fa-solid fa-crown" title="Usuário Master" style="color: gold; margin-left: 5px;"></i>
                                <select id="NichoId" name="NichoId" class="form-select" asp-for="NichoId" asp-items="@ViewBag.Nichos">
                                    <option value="">Selecione a Área de Atuação</option>
                                </select>
                            
                                <span class="text-danger">
                                    @Html.ValidationMessageFor(model => model.NichoId)
                                </span>
                            </div>
                        }

                    </div>

                    <div class="row mt-3">
                        <div class="col-lg-3">
                            <label for="NichoId">Nicho</label>
                            <i class="fa-solid fa-crown" title="Usuário Master" style="color: gold; margin-left: 5px;"></i>
                            <select id="NichoId" name="NichoId" class="form-select" asp-for="NichoId" asp-items="@ViewBag.Nichos">
                                <option value="">Selecione a Área de Atuação</option>
                            </select>

                            <span class="text-danger">
                                @Html.ValidationMessageFor(model => model.NichoId)
                            </span>
                        </div>
                        <!-- Chave Seletora Agendamento (Switch) -->
                        <div class="col-md-2 d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       id="ResponsavelTecnicoSwitch"
                                       type="checkbox" />
                                <label class="form-check-label ms-2" for="ResponsavelTecnico">
                                    Responsável Técnico ?
                                </label>
                            </div>
                        </div>


                        <!-- Chave Seletora Agendamento (Switch) -->
                        <div class="col-md-2 d-flex align-items-center">
                            <div class="form-check form-switch">
                                <input class="form-check-input"
                                       id="ClienteSwitch"
                                       type="checkbox" />
                                <label class="form-check-label ms-2" for="Cliente">
                                    Perfil Cliente
                                </label>
                            </div>
                        </div>
                    </div>


                    <div class="mt-3 row">
                        <div class="col-md-2">
                            <label>Situação</label>
                            <select asp-for="Ativo" class="form-select" disabled="@(!Model.Id.HasValue ? "disabled" : null)">
                                <option value="true">Ativo</option>
                                <option value="false">Inativo</option>
                            </select>
                        </div>
                    </div>

                    <div class="mt-3">
                        <input type="submit"
                               value="Gravar"
                               onclick="loading()"
                               class="btn btn-success" />

                        @if (Model.Id.HasValue)
                        {
                            <input asp-action="Excluir"
                                   type="submit"
                                   value="Excluir"
                                   onclick="loading()"
                                   class="btn btn-danger" />
                        }

                        <a href="/Perfis/Consulta" class="btn btn-secondary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

